<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demonew">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoNew">
        <activity
            android:name=".FireBaseGAuth"
            android:exported="false" />
        <activity
            android:name=".FirebaseDb"
            android:exported="false" />
        <activity
            android:name=".VolleyEx2"
            android:exported="false" />
        <activity
            android:name=".VolleyModal"
            android:exported="false" />
        <activity
            android:name=".VolleyEx"
            android:exported="false" />
        <activity
            android:name=".GridActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationView"
            android:exported="false" />
        <activity
            android:name=".RetrofitExample"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="true"
            android:theme="@style/Theme.DemoNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicEx"
            android:exported="false" />
        <activity
            android:name=".RecyclerEx"
            android:exported="false" />
        <activity
            android:name=".CustomAdapter"
            android:exported="false" />
        <activity
            android:name=".RecyclerMyAdapter"
            android:exported="false" />
        <activity
            android:name=".ContactProfile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Seconddemo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MyBroadCastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

    </application>

</manifest>